@model APATools.Models.mst_LocationGP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>mst_LocationGP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPCodeGPMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPCodeGPMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPCodeOldMIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPCodeOldMIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPCodeGIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPCodeGIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPCodeNEWGPMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPCodeNEWGPMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockCodeNavigation.BlockCodeGIS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GPCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
