
@model APATools.Models.A_APA_TE_9

@{
    ViewBag.Title = "APA-TE-9";
}

<div class="page-title">
    <div class="title_left">
        <h3>Welcome to the Entry of APA-TE-9</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            <div class="input-group">
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">

                <h2>
                    GP Dashboard of @if (ViewBag.GPName != null)
                    {
                        <small>@ViewBag.GPName</small>
                    }
                </h2>
                <div class="clearfix"></div>
            </div>
            @if (TempData["Failed"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-danger">
                        @TempData["Failed"]
                    </div>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-success">
                        @TempData["Success"]
                    </div>
                </div>
            }
        <div class="x_content">
            <form asp-action="APA_TE_9" asp-controller="GPDashboard" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="row">
                    <h4 class="col-form-label col-md-5 col-sm-5">APA-TE-9 Entry</h4>
                </div>
                <hr />
                <div class="row">
                    <div class="item form-group col-md-6">
                        <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                            GP Code <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                            <input type="number" class="form-control col-form-label" readonly value="@ViewBag.GPCode" name="GPCode" />
                        </div>
                    </div>
                    <div class="item form-group col-md-6">
                        <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                            Financial Year <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                                <select name="FYCode" class="form-control col-form-label" id="schemetype" required="required" readonly>
                                <option selected value="@ViewBag.FYCode">@ViewBag.FYName</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="item form-group col-md-6">
                        <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                            Total Nos. of Activities having Estimated >= 2 lakh <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                                <input type="number" asp-for="TotalNoofActivitieshavingvaluesmorethanorequalstwolakh" class="form-control col-form-label" required="required" />
                            <span>@Html.ValidationMessageFor(model => model.TotalNoofActivitieshavingvaluesmorethanorequalstwolakh, "", new { @class = "text-danger" }) </span>
                        </div>
                    </div>
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Upload Annexure - 2 with highlighting Values >= 2 lakh (.xlsx / Max 10 MB) <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="file" asp-for="WOActivityActivitieshavingvaluesmorethanorequalstwolakh" class="form-control col-form-label" required />
                                <span>@Html.ValidationMessageFor(model => model.WOActivityActivitieshavingvaluesmorethanorequalstwolakh, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                </div>
                <div class="row">
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                No of Schemes Inspected whose Estimate >= 2 lakh in 2024 - 2025<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="number" asp-for="TotalNoofInspectedActivitiesmorethanorequalstwolakh" class="form-control col-form-label" required />
                                <span>@Html.ValidationMessageFor(model => model.TotalNoofInspectedActivitiesmorethanorequalstwolakh, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                    <div class="item form-group col-md-6">
                        <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                            Inspection Report of Activities whose Estimate >= 2 lakh (Max 10 MB /.pdf)<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                            <input type="file" asp-for="InspectionReportActivitiesEstimate" class="form-control col-form-label" required />
                            <span>@Html.ValidationMessageFor(model => model.InspectionReportActivitiesEstimate, "", new { @class = "text-danger" }) </span>
                        </div>
                    </div>
                    
                </div>
                <hr />
                <div class="row">
                        <div class="item form-group col-md-4">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="submit" class="btn btn-success" value="Submit" />
                            </div>
                        </div>
                    <div class="item form-group col-md-8">
                        <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                            <span class="required"></span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                </form>
        </div>
        </div>
    </div>
</div>