@model IEnumerable<APATools.Models.ReportModels.APA_TE_7_Report>
@{
    ViewBag.Title = "Report of APA-TE-7";
}
<div class="page-title">
    <div class="title_left">
        <h3>Welcome to the Report of APA-TE-7</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            <div class="input-group">
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">

                <h2>
                    Home of @if (Context.Session.GetString("UserName") != null)
                    {
                        <small>@Context.Session.GetString("UserName")</small>
                    }
                </h2>
                <div class="clearfix"></div>
            </div>
            @if (TempData["Failed"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-danger">
                        @TempData["Failed"]
                    </div>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-success">
                        @TempData["Success"]
                    </div>
                </div>
            }
            <div class="x_content">
                <div class="row">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="col-form-label">GPCode</th>
                                <th class="col-form-label">GP Name</th>
                                <th class="col-form-label">Financial Year</th>
                                <th class="col-form-label">Activity Name 1</th>
                                <th class="col-form-label">Activity Value 1</th>
                                <th class="col-form-label">Fund of Activity Value 1</th>
                                <th class="col-form-label">Activity AQT 1</th>
                                <th class="col-form-label">Activity Name 2</th>
                                <th class="col-form-label">Activity Value 2</th>
                                <th class="col-form-label">Fund of Activity Value 2</th>
                                <th class="col-form-label">Activity AQT 2</th>
                                <th class="col-form-label">Activity Name 3</th>
                                <th class="col-form-label">Activity Value 3</th>
                                <th class="col-form-label">Fund of Activity Value 3</th>
                                <th class="col-form-label">Activity AQT 3</th>
                                <th class="col-form-label">Activity Name 4</th>
                                <th class="col-form-label">Activity Value 4</th>
                                <th class="col-form-label">Fund of Activity Value 4</th>
                                <th class="col-form-label">Activity AQT 4</th>
                                <th class="col-form-label">Activity Name 5</th>
                                <th class="col-form-label">Activity Value 5</th>
                                <th class="col-form-label">Fund of Activity Value 5</th>
                                <th class="col-form-label">Activity AQT 5</th>
                                <th class="col-form-label">Entire Work Order Highlighting All</th>
                                <th class="col-form-label">Completion Certificate</th>
                                <th class="col-form-label">Edit - Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.GPCode</td>
                                    <td>@item.GPName</td>
                                    <td>@item.FYName</td>
                                    <td>@item.ActivityName_1_AQT</td>
                                    <td>@item.ActivityValue_1_AQT</td>
                                    <td>@item.FundofActivity_1_AQT</td>
                                    <td>
                                        <a asp-action="Download" asp-controller="StateDashboard" asp-route-gpcode="@item.GPCode"
                                           asp-route-filename="@item.Activity_1_AQT_Path" class="btn btn-info btn-sm col-form-label">Download</a>
                                    </td>
                                    <td>@item.ActivityName_2_AQT</td>
                                    <td>@item.ActivityValue_2_AQT</td>
                                    <td>@item.FundofActivity_2_AQT</td>
                                    <td>
                                        <a asp-action="Download" asp-controller="StateDashboard" asp-route-gpcode="@item.GPCode"
                                           asp-route-filename="@item.Activity_2_AQT_Path" class="btn btn-info btn-sm col-form-label">Download</a>
                                    </td>
                                    <td>@item.ActivityName_3_AQT</td>
                                    <td>@item.ActivityValue_3_AQT</td>
                                    <td>@item.FundofActivity_3_AQT</td>
                                    <td>
                                        <a asp-action="Download" asp-controller="StateDashboard" asp-route-gpcode="@item.GPCode"
                                           asp-route-filename="@item.Activity_3_AQT_Path" class="btn btn-info btn-sm col-form-label">Download</a>
                                    </td>
                                    <td>@item.ActivityName_4_AQT</td>
                                    <td>@item.ActivityValue_4_AQT</td>
                                    <td>@item.FundofActivity_4_AQT</td>
                                    <td>
                                        <a asp-action="Download" asp-controller="StateDashboard" asp-route-gpcode="@item.GPCode"
                                           asp-route-filename="@item.Activity_4_AQT_Path" class="btn btn-info btn-sm col-form-label">Download</a>
                                    </td>
                                    <td>@item.ActivityName_5_AQT</td>
                                    <td>@item.ActivityValue_5_AQT</td>
                                    <td>@item.FundofActivity_5_AQT</td>
                                    <td>
                                        <a asp-action="Download" asp-controller="StateDashboard" asp-route-gpcode="@item.GPCode"
                                           asp-route-filename="@item.Activity_5_AQT_Path" class="btn btn-info btn-sm col-form-label">Download</a>
                                    </td>
                                    <td>
                                        <a asp-action="Download" asp-controller="StateDashboard" asp-route-gpcode="@item.GPCode"
                                           asp-route-filename="@item.EntireWOHightingAll_AQT_Path" class="btn btn-info btn-sm col-form-label">Download</a>
                                    </td>
                                    <td>
                                        <a asp-action="Download" asp-controller="StateDashboard" asp-route-gpcode="@item.GPCode"
                                           asp-route-filename="@item.CompletionCertificate_AQT_Path" class="btn btn-info btn-sm col-form-label">Download</a>
                                    </td>
                                    @if (item.ActiveStatus == 1)
                                    {
                                        <td><a href="#" class="btn btn-warning">Not Allowed</a></td>
                                    }
                                    else if (item.ActiveStatus == 2)
                                    {
                                        <td><a class="btn btn-warning" href="@Url.Action("APA_TE_7_Edit", "GPEditDashboard", new { id = item.ID })">Edit Entry</a></td>
                                    }
                                    else
                                    {
                                        <td><a class="btn btn-danger" href="#">Already Edited</a></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>