@model APATools.Models.A_APA_TE_19

@{
    ViewBag.Title = "APA-TE_19";
}

<div class="page-title">
    <div class="title_left">
        <h3>Welcome to the Entry of APA-TE-19</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            <div class="input-group">
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    GP Dashboard of @if (ViewBag.GPName != null)
                    {
                        <small>@ViewBag.GPName</small>
                    }
                </h2>
                <div class="clearfix"></div>
            </div>
            @if (TempData["Failed"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-danger">
                        @TempData["Failed"]
                    </div>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-success">
                        @TempData["Success"]
                    </div>
                </div>
            }
            <div class="x_content">
                <form asp-action="APA_TE_19_State_Edit" asp-controller="StateEditDashboard" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="number" asp-for="ID" hidden />
                    <div class="row">
                        <h4 class="col-form-label col-md-5 col-sm-5">APA-TE-19 Entry</h4>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                GP Code <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="number" class="form-control col-form-label" readonly value="@Model.GPCode" name="GPCode" />
                            </div>
                        </div>
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Financial Year <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <select name="FYCode" class="form-control col-form-label" id="schemetype" required="required" readonly>
                                    <option selected value="@Model.FYCode">@ViewBag.FYName</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Total Expenditure for SFC in 2024 - 2025<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="number" asp-for="ExpenditureforSFC" class="form-control col-form-label" required="required" value="@Model.ExpenditureforSFC" readonly />
                                <span>@Html.ValidationMessageFor(model => model.ExpenditureforSFC, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Total Untied Expenditure for CFC in 2024 - 2025<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="number" asp-for="ExpenditureforCFCUntied" class="form-control col-form-label" required="required" value="@Model.ExpenditureforCFCUntied" />
                                <span>@Html.ValidationMessageFor(model => model.ExpenditureforCFCUntied, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Total Expenditure for OSR in 2024 - 2025<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="number" asp-for="ExpenditureforOSR" class="form-control col-form-label" required="required" readonly value="@Model.ExpenditureforOSR" />
                                <span>@Html.ValidationMessageFor(model => model.ExpenditureforOSR, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Total Untied amount spent from CFC, SFC & OSR for Sankalpa Activities in 2024 - 2025<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="number" asp-for="UntiedAmountSpentfromCFCSFCOSR202425" class="form-control col-form-label" required />
                                <span>@Html.ValidationMessageFor(model => model.UntiedAmountSpentfromCFCSFCOSR202425, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Upload Annexure 8 in PDF (5 MB)<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="file" asp-for="UploadAnnex8_PDF" class="form-control col-form-label"  />
                                <a asp-action="Download" asp-controller="StateDashboard"
                                   asp-route-filename="@Model.UploadAnnex8_PDF_path" class="btn-sm text-primary col-form-label">Download</a>
                                <span>@Html.ValidationMessageFor(model => model.UploadAnnex8_PDF, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                Upload Annexure 8 in Excel (5 MB)<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="file" asp-for="UploadAnnex8_Excel" class="form-control col-form-label"  />
                                <a asp-action="Download" asp-controller="StateDashboard"
                                   asp-route-filename="@Model.UploadAnnex8_Excel_path" class="btn-sm text-primary col-form-label">Download</a>
                                <span>@Html.ValidationMessageFor(model => model.UploadAnnex8_Excel, "", new { @class = "text-danger" }) </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <div class="row">
                                    <input type="submit" value="Submit" class="btn btn-primary col-form-label" />
                                </div>
                            </div>
                        </div>
                        <div class="item form-group col-md-6">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>