@model IEnumerable<APATools.Models.Sp_APA_Checked_Complete_GPResult>
@{
    ViewBag.Title = "Report of Total District - GP wise Count";
}
<div class="page-title">
    <div class="title_left">
        <h3>Welcome to the Report of Total GP already Checked</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            <div class="input-group">
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">

                <h2>
                    Home of @if (Context.Session.GetString("UserName") != null)
                    {
                        <small>@Context.Session.GetString("UserName")</small>
                    }
                </h2>
                <div class="clearfix"></div>
            </div>
            @if (TempData["Failed"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-danger">
                        @TempData["Failed"]
                    </div>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="x_content">
                    <div class="alert alert-success">
                        @TempData["Success"]
                    </div>
                </div>
            }
            <div class="x_content">
                <div class="row">
                    <table class="table table-bordered table-striped" width="100%" id="reportid">
                        <thead>
                            <tr>
                                <th class="col-form-label">District Name</th>
                                <th class="col-form-label">Block Name</th>
                                <th class="col-form-label">GP Name</th>
                                <th class="col-form-label">GP Code</th>
                                <th class="col-form-label">MC-1</th>
                                <th class="col-form-label">MC-2</th>
                                <th class="col-form-label">MC-5</th>
                                <th class="col-form-label">MC-6</th>

                                <th class="col-form-label">TE-1</th>
                                <th class="col-form-label">TE-2</th>
                                <th class="col-form-label">TE-3</th>
                                <th class="col-form-label">TE-4</th>
                                <th class="col-form-label">TE-5</th>
                                <th class="col-form-label">TE-6</th>
                                <th class="col-form-label">TE-7</th>
                                <th class="col-form-label">TE-8</th>
                                <th class="col-form-label">TE-9</th>
                                <th class="col-form-label">TE-10</th>
                                <th class="col-form-label">TE-11</th>
                                <th class="col-form-label">TE-13</th>
                                <th class="col-form-label">TE-14</th>
                                <th class="col-form-label">TE-16</th>
                                <th class="col-form-label">TE-17</th>
                                <th class="col-form-label">TE-19</th>
                                <th class="col-form-label">TE-20</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-form-label">@item.DistrictName</td>
                                    <td class="col-form-label">@item.BlockName</td>
                                    <td class="col-form-label">@item.GPName</td>
                                    <td class="col-form-label">@item.GPCode</td>
                                    @if (@item.MC_1 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.MC_1</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.MC_1</td>
                                    }
                                    @if (@item.MC_2 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.MC_2</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.MC_2</td>
                                    }
                                    @if (@item.MC_5 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.MC_5</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.MC_5</td>
                                    }
                                    @if (@item.MC_6 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.MC_6</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.MC_6</td>
                                    }
                                    @if (@item.TE_1 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_1</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_1</td>
                                    }
                                    @if (@item.TE_2 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_2</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_2</td>
                                    }
                                    @if (@item.TE_3 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_3</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_3</td>
                                    }
                                    @if (@item.TE_4 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_4</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_4</td>
                                    }
                                    @if (@item.TE_5 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_5</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_5</td>
                                    }
                                    @if (@item.TE_6 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_6</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_6</td>
                                    }
                                    @if (@item.TE_7 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_7</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_7</td>
                                    }
                                    @if (@item.TE_8 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_8</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_8</td>
                                    }
                                    @if (@item.TE_9 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_9</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_9</td>
                                    }
                                    @if (@item.TE_10 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_10</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_10</td>
                                    }
                                    @if (@item.TE_11 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_11</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_11</td>
                                    }
                                    @if (@item.TE_13 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_13</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_13</td>
                                    }
                                    @if (@item.TE_14 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_14</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_14</td>
                                    }
                                    @if (@item.TE_16 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_16</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_16</td>
                                    }
                                    @if (@item.TE_17 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_17</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_17</td>
                                    }
                                    
                                    @if (@item.TE_19 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_19</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_19</td>
                                    }
                                    @if (@item.TE_20 == 1)
                                    {
                                        <td class="col-form-label bg-success text-light">@item.TE_20</td>
                                    }
                                    else
                                    {
                                        <td class="col-form-label bg-danger text-light">@item.TE_20</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
<style>
    div.dt-container {
        width: 100%;
        margin: 0 auto;
    }

    .dt-end {
        display: table-cell !important;
    }
</style>
@* Datatable Styles *@
<link href="~/css/dataTables.dataTables.css" rel="stylesheet" />
<link href="~/css/buttons.dataTables.css" rel="stylesheet" />
<link href="~/css/fixedColumns.dataTables.css" rel="stylesheet" />
@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#reportid').DataTable({
                paging: false,
                scrollCollapse: true,
                scrollY: '50vh',
                "lengthMenu": [20, 40, 60, 80, 100],
                fixedColumns: {
                    start: 2,
                    end: 2
                },
                layout: {
                    topStart: {
                        buttons: [{
                    extend: 'excelHtml5',
                    title: 'Data export' + "@DateTime.Now"
                }]
                    },
                    bottomStart: {
                        "pageLength": 20,
                    },
                    bottomEnd: {
                        paging: {
                            firstLast: false
                        }
                    },
                }
            });
        });
    </script>
}